.container {
  background-color: #d5e0fc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.accordioncontainer {
  background-color: white;
  width: 100%;
  max-width: 800px;
  min-width: 500px;
  border-radius: 10px;
  margin: 10px;
}

.formcontainer {
  margin: 5px;
  border-radius: 10px;
}

.accordionheader {
  margin-bottom: -10px;
}

.accordiontitle {
  background-image: linear-gradient(#f8d761, #e3a53c);
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.form {
  background-color: #dedede;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.nextbutton {
  background-image: linear-gradient(#424bae, #7164cc);
  width: 150px;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px;
}

.formlabel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.forminput {
  border-radius: 10px;
  height: 40px;
  border: none;
  box-shadow: gray 0 0 10px inset;
  width: 200px;
}

.formdobinput {
  border-radius: 10px;
  height: 40px;
  border: none;
  box-shadow: gray 0 0 10px inset;
  width: 50px;
  margin-right: 10px;
}

.dobinput {
  display: flex;
  flex-direction: row;
}

.dropdown {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  height: 40px;
  border: none;
  padding: 0 10px;
  box-shadow: gray 0 0 20px inset;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowbottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.commentinput {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  height: 150px;
  width: 400px;
  border: none;
  padding: 0 10px;
  box-shadow: gray 0 0 20px inset;
}
